.main-content{
    margin: 1rem 0 6rem 0;
}
.group{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: .5rem;
}
.group-heading{
    font-weight: 900;
    color: var(--GREEN-COLOR);
    font-size: 1.2rem;
}
.musics{
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    border-radius: 20px;
    gap: .8rem;
}
.musics::-webkit-scrollbar{
    display: none;
    scroll-behavior: smooth;
}
